{% extends "workboard/layout.html" %}

{% block body %}
    <div class="wrapped_page">
        <div class="page_box">
            <h1>
                Welcome to Workboard!
            </h1>

            <p>
                Create as many boards as you want. Invite your friends and workmates to work together with you on amazing projects.
            </p>

            <p>
                Are you a user already? Then <a href="/login">log-in to your account</a> and start managing your boards.
            </p>

            <p>
                If it's your first time here, <a href="/register">sign-up right now</a> and start discovering Workboard.
            </p>

        </div>
    </div>
{% endblock %}
